<div class="no-gutters">
  <h3 class="list-title">Meetings</h3>
  <ul class="list-style arrow-list arrow-list-three pl-0">
    {% for post in site.categories.meetups limit: 8 %}
    {% if post.url != page.url %}
    <li>
      <i class="fa fa-arrow-right grey" aria-hidden="true"></i>
      <a class="" href="{{ BASE_PATH }}{{ post.url }}">{{ post.tagline }}</a>
      <br>
      <div class="tag-title">{{ post.title }}</div>
    </li>
    {% endif %}
    {% endfor %}
    <li>
      <a class="" href="{{ BASE_PATH }}/blog">All Meetings</a>
    </li>
  </ul>
</div>